:root {
    --background-dim: hsl(0, 0%, 91%);
    --background-light: hsl(0, 0%, 97%);
    --textcolour: hsl(217, 7%, 21%);
    --highlight: hsl(97, 42%, 54%);
    --highlighttext: black;
    --primary: hsl(197, 68%, 47%);
    --primarytext: white;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background-dim);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--textcolour);
}

div {
    box-sizing: border-box;
}


div#root,
div#pagecontainer {
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

div#pagecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 500px;
}

div#sidebar {
    min-width: 16em;
    flex: 0 0 max-context;
    padding: 1em 0 1em 1em;
    background-color: var(--background-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
}

div#mainpage {
    flex: 1 1 auto;
    padding: 1em 2em;
    overflow: auto;
}

div.mainPageContent {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
    padding: 1em;
    margin-bottom: 2em;
    min-width: 750px;
}

div.mainPageContent>header {
    margin: -1em -1em 1em -1em;
    padding: 1em 2em;
    border-radius: 8px 8px 0 0;
    background-color: var(--textcolour);
    color: var(--background-light);
    font-weight: 600;
    font-variant: small-caps;
}


ul.sidebarmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.sidebarmenu>li {
    cursor: pointer;
    margin: 0;
    padding: 0.4em 0 0.4em 1em;
}

ul.sidebarmenu>li.unselected:hover {
    background-color: var(--highlight);
    color: var(--highlighttext)
}

ul.sidebarmenu>li.selected {
    background-color: var(--primary);
    color: var(--primarytext);
}

ul.accountsSubMenu {
    list-style-type: none;
    margin: 0 0 0 2em;
    padding: 1em 1em 1em 0;
    font-size: small;
}

ul.accountsSubMenu>li {
    cursor: pointer;
    margin: 0;
    padding: 0.4em 0 0.4em 1em;
}

ul.accountsSubMenu>li.unselected:hover {
    background-color: var(--highlight);
    color: var(--highlighttext)
}

ul.accountsSubMenu>li.selected {
    background-color: var(--primary);
    color: var(--primarytext);
}

td {
    padding-left: 1em;
}


div.unfurlable>header:hover {
    background-color: var(--highlight);
    color: var(--highlighttext);
}

div.unfurlable>header {
    cursor: pointer;
}


div.negativeMoney {
    color: hsl(0, 100%, 40%);
}

div.yearCard {
    background-color: var(--background-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
    padding: 0.5em;
    margin-bottom: 1em;
}

div.yearCard>header {
    margin: -0.5em -0.5em -0.5em -0.5em;
    padding: 0.5em 1em;
    color: var(--textcolour);
    font-weight: 400;

    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.yearCard>div.yearCardBody {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid hsl(0, 0, 80%);
}

div.yearCard div.year {
    font-weight: 500;
    font-size: 1.3em;
}

div.monthCard {
    padding: 0.5em 0;
    margin-bottom: 0.5em;
}

div.monthCard>header {
    background-color: var(--background-light);
    color: var(--textcolour);
    font-weight: 400;
    font-size: 0.8em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.monthCard div.month {
    font-weight: 500;
    font-size: 1.2em;
}

div.monthCardBody {
    padding: 0.5em 1em;
    background-color: white;
    font-size: 0.8em;
}

div.monthCardBody div.transaction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 4em;
}

div.monthCardBody div.transaction:hover {
    background-color: var(--background-light);
}

div.monthCardBody div.daysTransactions {
    margin-bottom: 0.6em;
}

div.monthCardBody div.daysTransactions>div.date {
    font-weight: 600;
}

div.monthCardBody div.daysTransactions>div.dailyClose {
    width: 100%;
    text-align: right;
}